<!DOCTYPE html>
<html>

    <head>
        <!-- Will makes a GET request to the 'assets' endpoint speciying the desired css file -->
        <link rel="stylesheet" type="text/css" href="assets/index.css">
    </head>

    <body>

        <!-- The purpose of this is to align the interior div in the center vertically and horizontally -->
        <div id="flex-container">

            <!-- This div actually wraps all the main content  -->
            <div>
                <h1> Welcome To Sessions </h1>
                <a href="/create"> <button type="button"> Create </button> </a>
                <br>
                <a href="/join"> <button type="button"> Join </button> </a>
            </div>

        </div>

        <footer>
            created by: Nick and Nico
        </footer>

    </body>

</html>